@mixin blend-color($backgroundColor, $color) {
    background-color: $backgroundColor;
    color: $color;
}

@mixin font-decorator($family, $font-weight, $color, $font-default:16) {
    font-family: $family;
    font-size: $font-default+px;
    font-size: (.0625 * $font-default)+rem;
    font-weight: $font-weight;
    color: $color;
}

@mixin rebase($rebase03, $rebase02, $rebase01, $rebase00, $rebase0, $rebase1, $rebase2, $rebase3) {
    background-color: $rebase03;
    color: $rebase0;

    * {
        color: $rebase0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $rebase1;
        border-color: $rebase0;
    }

    a,
    a:active,
    a:visited {
        color: $rebase1;
    }
}

@mixin accentize($accent) {

    a,
    a:active,
    a:visited,
    code.url {
        color: $accent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $accent
    }
}

@mixin fluidFont($small:16, $big:26){
    font-size: calc(($small+ 0px) + ($big - $small) * (( 100vw - 480px ) / ( 1920 - 480 )));
}